* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navmenu {
    margin: 0;
    padding: 31px;
    text-align: center;
}
.navmenu li {
    display: inline;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    padding: 31px;
}
li a {
    color: #000;
    text-decoration: none;
}
.container {
    width: 856px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
}
.container h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
    margin-bottom: 40px;
}
.container p {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 24px;
}
.container span {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.container li {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-left: 20px;
}
.divbutton {
    margin-left: 355.5px;
    margin-right: 355.5px;
    margin-top: 40px;
    margin-bottom: 88px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    padding: 10px 24px;
    background-color: #04959E;
}
.divbutton a {
    color: #F4F6F6;
    text-decoration: none;
}
footer {
    border-top: 1px solid black;
    text-align: center;
}
footer p {
    margin: 0 auto;
    text-align: center;
    width: 856px;
    padding: 16px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}